/* #Forms
================================================== */

form {
margin-bottom: 20px; }
fieldset {
margin-bottom: 35px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
border: 1px solid #ccc;
padding: 6px 6px 4px 6px;
outline: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font: 14px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #777;
margin: 0 0 20px 1px;
width: 266px;
max-width: 100%;
display: block;
background: #fff;
min-height: 28px; }
select { padding: 0; margin-top: -1px; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
min-height: 60px; }
label,
legend {
display: block;
font-weight: bold;
font-size: 14px;
padding-top: 5px;
margin-bottom: 15px; }
select {
width: 220px; }
input[type="radio"], 
input[type="checkbox"] {
display: inline; 
margin-top:20px; }
label span,
legend span {
font-weight: normal;
font-size: 14px;
color: #444; }
.rows4 { height: 68px; }