.container .project.image img,
.container .project.thumb img,
.container .profile img,
.container .introcircle img,
.container .introimage img{
max-width:100%;
height:auto;
width:auto\9;
}

body{
background:u rl('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/grids/20baseline.jpg') repeat;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.container,
.container.section-1,
.container.section-2,
.container.section-3,
.container.section-4{
position:relative;
width:880px;
margin:0 auto;
padding:0 40px;
height:100%;
min-height:600px;
}
.column,
.columns{
float:left;
display:inline;
margin-right:20px;
}

.row{
margin-bottom:20px;
}

.footer{
margin:0 auto;
position:relative;
padding:20px 40px 35px 40px;
width:880px;
}

.column.alpha,
.columns.alpha{
margin-left:0;
}

.column.omega,
.columns.omega{
margin-right:0;
}

.container .one.column{
width:55px;
}

.container .two.columns{
width:130px;
}

.container .three.columns{
width:205px;
}

.container .four.columns{
width:280px;
}

.container .five.columns{
width:355px;
}

.container .six.columns{
width:430px;
}

.container .seven.columns{
width:505px;
}

.container .eight.columns{
width:580px;
}

.container .nine.columns{
width:655px;
}

.container .ten.columns{
width:730px;
}

.container .eleven.columns{
width:805px;
}

.container .twelve.columns{
width:880px;
}

.container .one-third.column{
width:280px;
}

.container .two-thirds.column{
width:546px;
}

.container .project.image{
width:730px;
margin-top:20px;
overflow:hidden;
display:inline-block;
}

.container .project.thumb{
width:355px;
margin-right:20px;
overflow:hidden;
display:inline-block;
}

.container .profile{
width:358px;
padding:14px 186px 6px 186px;
}

.container .introcircle{
width:340px;
top:140px;
left:580px;
position:absolute;
z-index:2;
}

.container .introimage{
width:730px;
margin:-46px 0 93px 0;
z-index:1;
}

.container .offset-by-one{
padding-left:75px;
}

.container .offset-by-two{
padding-left:150px;
}

.container .offset-by-three{
padding-left:225px;
}

.container .offset-by-four{
padding-left:300px;
}

.container .offset-by-five{
padding-left:375px;
}

.container .offset-by-six{
padding-left:450px;
}

.container .offset-by-seven{
padding-left:525px;
}

.container .offset-by-eight{
padding-left:600px;
}

.container .offset-by-nine{
padding-left:675px;
}

.container .offset-by-ten{
padding-left:750px;
}

.container .offset-by-eleven{
padding-left:825px;
}

.container .offset-by-twelve{
padding-left:900px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: portrait) {

body{
background:u rl('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/grids/10grid.jpg') repeat-y center;
}

.container{
width:768px;
}

.container .column,.container .columns{
float:left;
display:inline;
margin-right:20px;
}
#menu{
padding-left:20px;
}
.column.alpha,
.columns.alpha{
margin-left:0;
}

.column.omega,
.columns.omega{
margin-right:0;
}

#content{
width:580px;
margin-left:170px;
padding-right:0;
}

.footer{
margin:0 auto;
position:relative;
padding:0 38px 54px 38px;
width:730px
}

.container .one.column{
width:55px;
}

.container .two.columns{
width:130px;
}

.container .three.columns{
width:205px;
}.container .four.columns{width:280px;}.container .five.columns{width:355px;}.container .six.columns{width:430px;}.container .seven.columns{width:505px;}.container .eight.columns{width:580px;}.container .nine.columns{width:655px;}.container .ten.columns{width:580px;}.container .twelve.columns{width:730px;}.container .one-third.column{width:243px;}.container .two-thirds.column{width:486px;}.container .project.image{width:580px;margin-top:20px;overflow:hidden;display:inline-block;}.container .project.thumb{width:280px;margin-right:20px;overflow:hidden;display:inline-block;}.container .profile{width:358px;padding:14px 111px 6px 111px;}.container .introcircle{width:270px;left:480px;top:140px;}.container .introimage{width:580px;}.container #img-container{width:600px;}.container .offset-by-one{padding-left:75px;}.container .offset-by-two{padding-left:150px;}.container .offset-by-three{padding-left:225px;}.container .offset-by-four{padding-left:300px;}.container .offset-by-five{padding-left:375px;}.container .offset-by-six{padding-left:450px;}.container .offset-by-seven{padding-left:525px;}.container .offset-by-eight{padding-left:600px;}.container .offset-by-nine{padding-left:675px;}}@media screen and (-webkit-device-pixel-ratio: 2) {#logo a{background-image:url('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/img/logobuttons@2x.png') no-repeat;}}@media only screen and (max-width: 767px) {.container{width:280px;}.columns,.column{margin-top:0;margin-right:0;margin-left:0;}#menu ul li{font-size:26px;}#menu ul{line-height:1.55;}#menu{width:280px;padding:60px 0 29px 0px;}#content{width:280px;margin-left:0px;padding-right:0;}body{background:u rl('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/grids/4grid.png') repeat-y center;line-height:1.6;font-size:13px;}#logo a{margin-bottom:19px;}#backtotop.outline .backtotop a{text-indent:0;background:none;}#backtotop.outline .backtotop{position:static;top:0;right:0;height:0;}#backtotop.outline li a,#backtotop.outline .backtotop{width:auto;}.container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .one-third.column,.container .two-thirds.column{width:280px;}.container .project.image{width:280px;margin-top:20px;overflow:hidden;display:inline-block;}.container .project.thumb{width:280px;margin-right:0;overflow:hidden;display:inline-block;}.container .profile{width:280px;padding:18px 0 6px 0;}.container .introimage{display:none;}.container .introcircle{width:280px;left:0;top:260px;right:0;}.container #img-container{width:280px;}.container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten,.container .offset-by-eleven,.container .offset-by-twelve{padding-left:0;}}@media only screen and (min-width: 480px) and (max-width: 767px) {body{background:u rl('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/grids/6grid.png') repeat-y center;}.container{width:430px;}.column,.columns{float:left;display:inline;margin-right:20px;}#menu ul li{font-size:26px;}#menu ul{line-height:1.55;}#menu{width:430px;padding:60px 0 29px 0px}#content{width:430px;padding-right:0;}h1{width:430px;}body{-webkit-text-size-adjust:none;}.container .one.column,.container .three.columns .container .four.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .one-third.column,.container .two-thirds.column{width:430px;}.container .two.columns{width:130px;}.container .five.columns{width:280px;}.row{margin-bottom:18px;}.container .project.image{width:430px;margin-top:20px;overflow:hidden;display:inline-block;}.container .project.thumb{width:430px;margin-right:0;overflow:hidden;display:inline-block;}.container .profile{width:330px;padding:5px 50px 6px 50px;}.container .introimage{display:none;}.container .introcircle{width:340px;left:45px;top:260px;right:45px;}.container #img-container{width:430px;}}.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}.row:after,.clearfix:after{clear:both;}.row,.clearfix{zoom:1;}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}