/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
/* Example styles only */
html, body {
  -webkit-font-smoothing: antialiased;
}
/* HEADER */
header[role="banner"] {
  background: #ace;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAEUlEQVQIHWP8//8/AxRIgmgALXIDGP4nSgEAAAAASUVORK5CYII=), -webkit-linear-gradient(transparent, rgba(0, 100, 150, 0.6) 90%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding: 1.5em 0;
}
header[role="banner"] #logo {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 100, 0.6);
}
/* CONTENT */
div[role="content"] {
  padding-top: 1.5em;
}
pre {
  background: #def;
  padding: 8px;
  color: #333;
}
pre em {
  color: #39c;
  font-style: normal;
  font-weight: 700;
}
/* FOOTER */
footer[role="footer"] {
  background: #eee;
  color: #666;
}
/* MEDIA QUERIES */
/* Mobile phones and tiny screens */
@media screen and (max-width: 500px;) {
  
}
