LOUISBULLOCK BASE


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline}html{font-size:100%}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:none}q:before,q:after{content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}svg:not(:root){overflow:hidden}fieldset{margin:0 2px;padding:.35em.625em.75em}legend{margin-left:-7px}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0}button,input{line-height:normal;overflow:visible}table button,table input{overflow:auto}button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer}input[type=checkbox],input[type=radio]{padding:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}audio:not([controls]),[hidden]{display:none}body,figure,form{margin:0}



/*  Basic Styles
================================================== */
* 											{ margin: 0; padding: 0; }
html 										{ font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
body 										{ word-wrap: break-word; font: 14px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; background: url('../img/newgrid.png') repeat-y center 0; background: #fff; outline: 0; vertical-align: baseline; text-shadow: 0 0 1px rgba(0, 0, 0, 0.01); -webkit-font-smoothing: antialiased; -webkit-text-stroke: 1px transparent;  -webkit-tap-highlight-color: rgba(0,0,0,0); }
body.section-1 								{ color: #555; }
body.section-2 								{ color: #555; }
body.section-3 								{ color: #555; }
body.section-4 								{ color: #555; }

/* Selection */
::selection, 
::-moz-selection,
::-webkit-selection							{ color: #A67D25; background: #FFEB6E; text-shadow: none; }
img::selection, 
img::-moz-selection,
img::-webkit-selection						{ background-color: transparent; }



/*  Site Styles
================================================== */
.bar										{ height: auto; background: #131313; clear: both; }
.bar p 										{ color: #fff; padding: 10px 20px; text-align: center; font-weight: bold; margin-bottom: 0; }

/* Container */
.container 									{ overflow: hidden; min-height:653px; }
* html .container 							{ height:653px; }

/* Img-container */
#img-container 								{ margin-top:14px; margin-right:-20px; padding: 0; overflow:hidden; width:750px; display: inline-block; }
#img-container p 							{ margin-bottom:0; }
#img-container ul #buttons .gui 			{ margin-top: -40px; }
.img-bot 									{ padding-top: 8px; }

/* Menu */
#menu 										{ width: 130px; top: 0; padding: 60px 0px 20px 40px; margin-top: 0; }
#menu ul 									{ margin-right: 0; margin-left: 0; padding-right: 0; padding-left: 0; font: normal normal 11px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#menu ul li 								{ list-style: none; font: normal bold 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #131313; }
#menu ul li.section-title					{ list-style: none; font: normal bold 14px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; margin:0px; padding: 15px 0px 15px 0; color: #131313; border-top: solid 1px #DADADA; }

/* Logo */
#logo a 									{ background: url('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/img/logobuttons.png') no-repeat; margin-bottom:7px; display: inline-block; height: 72px; width: 72px; }
#logo a:link 								{ background-position: 0 0; }
#logo a:hover 								{ background-position: 0 -72px; }
#logo a:active 								{ background-position: 0 -144px; }

/* Intro Circle */
.introcircle								{ top: 140px; left: 580px; position: absolute; z-index: 2; background: #EB7966; margin: 0 auto; border-radius: 100%; text-align: center; width:340px; height: 340px; color: #fff; }
.introcircle hr								{ background: #fff; width:276px; height: 1px; border: none; outline: none; margin: 8px auto 11px auto; }
.introcircle h4								{ margin:0 auto; width:276px; color: #fff; padding-top: 111px; }
.circle										{ text-align: center; display: inline-block; border-radius: 100%; width:56px; height:56px; border: 2px solid black; }
.circle h6									{ color:#555; padding-top:19px; margin:0 auto; width:50px; font-weight: bold; }

/* a[href$='.pdf'] { padding:0 20px 0 0; background:transparent url(/graphics/icons/pdf.gif) no-repeat center right; } consider this for later */


/*  Typography
================================================== */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a			{ font-weight: inherit; }
/*h1 											{ font: normal normal 26px/1.25 'LidoSTF', Georgia, serif; color: #131313; margin-top: 10px; margin-bottom: 20px; } */
/*h2 											{ font: normal normal 20px/20px 'LidoSTF', Georgia, serif; color: #131313; margin-bottom: 20px; padding-bottom: 7px; border-bottom: 1px solid #dadada; }*/
/*h3 											{ font: normal bold 16px/1.4 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #131313; padding-top:17px; margin-bottom: 1px; }*/
/*h4 											{ font: italic normal 16px/20px 'LidoSTF', Georgia, serif; color: #EB7966; margin-top:-25px; margin-right: 4px; margin-bottom: 11px; }*/
/*h5 											{ font: normal small-caps normal 16px/20px 'LidoSTF', Georgia, serif; color: #555; margin-top:-25px; margin-bottom: 12px; }*/
/*h6 											{ font: normal bold 16px/20px 'LidoSTFCondensed', Georgia, serif; color: #555; }*/
h1, h2, h3, h4 								{ color: #333; }
h1 											{ font-size: 48px; line-height: 40px; margin-bottom: 19px; font-weight: bold; letter-spacing: -1px; padding-top: 1px; }
h2 											{ font-size: 36px; line-height: 40px; margin-bottom: 13px; padding-top: 7px; }
h3 											{ font-size: 24px; line-height: 40px; margin-bottom: 9px; padding-top: 11px; }
h4 											{ font-size: 24px; font-weight: bold; line-height: 40px; margin-bottom: 9px; padding-top: 11px; }
h5 											{ font-size: 12px; line-height: 20px; margin-bottom: 14px; padding-top: 6px; color:#999; } /* 12, under the body copy size, 14 */
/* Typographic Scale: 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72 */
/* Remove Bottom Margin */
h1.remove.bottom 							{ margin-bottom: 0; }
h2.remove.bottom 							{ margin-bottom: -5px; }
h3.remove.bottom 							{ margin-bottom: -11px; }
h4.remove.bottom 							{ margin-bottom: -11px; }
h5.remove.bottom 							{ margin-bottom: -6px; }
p 											{ margin: 0 0 15px 0; padding-top: 5px; }
p img 										{ margin: 0; }
em 											{ font-style: italic; }
strong 										{ font-weight: bold; }
del											{ text-decoration: line-through; }
abbr, abbr[title] 							{ border-bottom: 1px dotted; cursor: help; }
dfn 										{ font-style: italic; }
hr 											{ margin: -1px 0 20px; border: 0; color: #DADADA; background-color: #DADADA; clear: both; height: 1px; text-align: left; line-height:20px; display:block; }
ins											{ text-decoration: underline; }
mark										{ font-weight: bold; text-decoration: none; }
ins, mark									{ background: #FFEB6E; color: #555; }
pre, code, kbd, samp 						{ font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; _font-family: "Courier New", monospace;  background: #222222; color: #fff; overflow: auto; line-height: 20px; padding: 3px 4px; font-size: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 2px -2px 12px -2px; }
pre											{ display: inline-block; line-height: 20px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
code										{ margin-left: 2px; margin-right:2px; }
small 										{ font-size: 80%; line-height: 18px; }
sub, sup 									{ font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup 										{ top: -0.5em; }
sub 										{ bottom: -0.25em; }

/* Spans */
.bg 										{ padding: 3px 4px; margin: 0 -2px; border-radius: 3px; }
.text										{ display: inline; }
.red.text									{ color: #A62525; }
.red.text.bg								{ background: #F8C9C9; }
.green.text									{ color: #86A524; }
.green.text.bg								{ background: #E5F8C9; }
.blue.text									{ color: #2577A6; } 
.blue.text.bg								{ background: #C9E2F8; } 
.yellow.text								{ color: #A67D25; }
.yellow.text.bg								{ background: #FFEB6E; }
.foobar.text								{ color: #FFF; }
.foobar.text.bg								{ background: #F00842; }
.amp 										{ font-family: Baskerville, Palatino, "Book Antiqua", serif; font-style: italic; line-height: 19px; }
.uni										{ font-family:"Arial Unicode MS", "Microsoft Sans Serif", "Free Sans", "Gentium Plus", "Gentium Basic", "Gentium", "GentiumAlt", "DejaVu Sans", "DejaVu Serif", "Free Serif", "TITUS Cyberbit Basic", "Bitstream Cyberbit", "Bitstream CyberBase", "Doulos SIL", "Code2000", "Code2001"; font-size:inherit; }
.caps										{ font-size: 90%; line-height: 19px; }

/*	Blockquotes  */
blockquote, blockquote p 					{ quotes: none; font-size: 16px; line-height: 20px; color: #555; font-style: italic; }
blockquote p 								{ padding-top: 0; margin-bottom: 0; }
blockquote 									{ margin: 0 0 20px; padding: 24px 20px 14px 20px; border-left: 1px solid #dadada; }
q 											{ quotes: none; font-size: 14px; line-height: 20px; color: #555; font-style: italic; margin: 0 0 20px; padding: 8px 20px 6px 20px; border-left: 1px solid #dadada; }
blockquote cite 							{ padding-top:2px; display: block; font-size: 12px; color: #555; }
blockquote cite:before 						{ content: "\2014 \0020"; }
blockquote cite a, 
blockquote cite a:visited, 
blockquote cite a:visited 					{ color: #555; }
blockquote:before, blockquote:after,
q:before, q:after 							{ content: ""; content: none; }

/* Post & Pre Nav text */
.top-section 								{ padding: 0 0 8px 0; font: italic normal 24px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 24px; color: #131313; }
.postnav 									{ font: italic normal 11px/20px 'LidoSTF', Georgia, serif; width: 130px; }
p.nav div#num 								{ font: normal normal 11px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing: 2px; color: #555; }



/*  Links
================================================== */
a 											{ outline: none; text-decoration: none; }
a:link 										{ color: #131313; background: none; border: none; }
a:visited 									{ color: #131313; background: none; border: none; }
a:hover 									{ color: #EB7966; background: none; border: none; }
a:active 									{ color: #555; background: none; border: none; }

/* Heading Links */
a:link h1,
a:link h2,
a:link h3,
a:link h4,
a:link h5 									{ color: #131313; }

a:visited h1,
a:visited h2,
a:visited h3,
a:visited h4,
a:visited h5 								{ color: #131313; }

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5 									{ color: #EB7966; }

a:active h1,
a:active h2,
a:active h3,
a:active h4,
a:active h5 								{ color: #555; }

/* li Links */
li a 										{ display:block; }
li a:link 									{ color: #131313; }
li a:visited 								{ color: #131313; }
li a:hover 									{ color: #EB7966; }
li a:active 								{ color: #555; }

/* Nav Links */
p.nav a 									{ font: normal normal 11px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
p.nav a:link 								{ color: #131313; }
p.nav a:visited 							{ color: #131313; }
p.nav a:hover 								{ color: #EB7966; }
p.nav a:active 								{ color: #EB7966; }



/*  Lists
================================================== */
ul, ol 										{ margin-bottom: 20px; }
ul 											{ list-style: none outside; }
ol 											{ list-style: decimal; }
ol,
ul.square,
ul.circle,
ul.disc 									{ margin-left: 30px; }
ul.square 									{ list-style: square outside; }
ul.circle 									{ list-style: circle outside; }
ul.disc 									{ list-style: disc outside; }
ul ul,
ul ol,
ol ol,
ol ul 										{ margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li,
ul ol li,
ol ol li,
ol ul li 									{ margin-bottom: 6px; }
li 											{ line-height: 20px; margin-bottom: 10px; }
ul.large li 								{ line-height: 20px; }
li p 										{ line-height: 20px; }
dd 											{ margin: 0 0 0 30px; }



/*  Embedded Content
================================================== */
/* Images */
img 										{ border: none; -ms-interpolation-mode: bicubic; vertical-align: middle; text-decoration: none; background: none; }
a img 										{ border: none; text-decoration: none; background: none; }
svg:not(:root) 								{ overflow: hidden; }
.ie7 img									{ -ms-interpolation-mode: bicubic; }
.left img 									{ float: left; display: block; }
.right img									{ float: right; display: block; }
.ir 										{ display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br 										{ display: none; }
.nothumb img 								{ margin: 0 10px 10px 0; }

/* Video */
.video embed,
.video object,
.video iframe 								{ width: 100%; height: auto; }
video 										{ max-width: 100%; height:auto; }



/*  Buttons
================================================== */
#buttons,
#backtotop 									{ margin: 0; padding: 0; display:inline; }
#buttons li,
#backtotop li 								{ list-style: none; display: inline-block; position: relative; }

/* GUI Buttons */
#buttons.gui li a 							{ background: url('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/img/guisprites.jpg') no-repeat; display: inline-block; height: 23px; width: 23px; }
#buttons.gui .close a 						{ background-position: 0 0; }
#buttons.gui .plus a 						{ background-position: -23px 0; }
#buttons.gui .minus a 						{ background-position: -46px 0; }
#buttons.gui .previous a 					{ background-position: -69px 0; }
#buttons.gui .next a 						{ background-position: -92px 0; }
#buttons.gui .up a 							{ background-position: -115px 0;}
#buttons.gui .down a 						{ background-position: -138px 0; }
#buttons.gui .heart a 						{ background-position: -161px 0; }
#buttons.gui .twitter a 					{ background-position: -184px 0; }
#buttons.gui .close a:hover 				{ background-position: 0 -23px; }
#buttons.gui .plus a:hover 					{ background-position: -23px -23px; }
#buttons.gui .minus a:hover 				{ background-position: -46px -23px; }
#buttons.gui .previous a:hover 				{ background-position: -69px -23px; }
#buttons.gui .next a:hover 					{ background-position: -92px -23px; }
#buttons.gui .up a:hover 					{ background-position: -115px -23px; }
#buttons.gui .down a:hover 					{ background-position: -138px -23px; }
#buttons.gui .heart a:hover 				{ background-position: -161px -23px; }
#buttons.gui .twitter a:hover 				{ background-position: -184px -23px; }
#buttons.gui .close a:active 				{ background-position: 0 -46px; }
#buttons.gui .plus a:active 				{ background-position: -23px -46px; }
#buttons.gui .minus a:active 				{ background-position: -46px -46px; }
#buttons.gui .previous a:active 			{ background-position: -69px -46px; }
#buttons.gui .next a:active 				{ background-position: -92px -46px; }
#buttons.gui .up a:active 					{ background-position: -115px -46px; }
#buttons.gui .down a:active 				{ background-position: -138px -46px; }
#buttons.gui .heart a:active 				{ background-position: -161px -46px; }
#buttons.gui .twitter a:active 				{ background-position: -184px -46px; }

/* Outline Buttons */
#buttons.outline li a,
#backtotop.outline li a 					{ background: url('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/img/outlinebuttons.png') no-repeat; display: inline-block; height: 60px; width: 60px; }
#buttons.outline .xhtml a 					{ background-position: 0 0; }
#buttons.outline .xhtml a:hover 			{ background-position: 0 -60px; }
#buttons.outline .xhtml a:active 			{ background-position: 0 -120px; }
#buttons.outline .css a 					{ background-position: -60px 0; }
#buttons.outline .css a:hover 				{ background-position: -60px -60px; }
#buttons.outline .css a:active 				{ background-position: -60px -120px; }

/* Back To Top Buttons */
#backtotop.outline .backtotop 				{ width: 60px; height: 60px; background: none; position: fixed; top:30px; right:30px; display:none; z-index:3; }
#backtotop.outline .backtotop a 			{ background-position: -120px 0; text-indent:-9999px; }
#backtotop.outline .backtotop a:hover		{ background-position: -120px -60px; }
#backtotop.outline .backtotop a:active 		{ background-position: -120px -120px; }

/* Light Buttons */
#buttons.light li a 						{ background: url('http://louisbullock.co.cc/ndxz-studio/site/dapperdugong/img/lightsprites.png') no-repeat; display: inline-block; height: 50px; width: 50px; }
#buttons.light .on a 						{ background-position: 0 0; }
#buttons.light .off a 						{ background-position: -50px 0; }
#buttons.light .on a:hover 					{ background-position: 0 -50px; }
#buttons.light .off a:hover 				{ background-position: -50px -50px; }
#buttons.light .on a:active					{ background-position: 0 -100px; }
#buttons.light .off a:active 				{ background-position: -50px -100px; }



/*  @font-face
================================================== */
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostf-webfont.eot); }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostf-webfont.woff) format(woff), url(../fonts/lidostf-webfont.ttf) format(truetype), url(../fonts/lidostf-webfont.svg#LidoSTFRegular) format(svg); font-weight:normal; font-style:normal; }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfbold-webfont.eot); }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfbold-webfont.woff) format(woff), url(../fonts/lidostfbold-webfont.ttf) format(truetype), url(../fonts/lidostfbold-webfont.svg#LidoSTFBold) format(svg); font-weight:bold; font-style:normal; }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfbolditalic-webfont.eot); }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfbolditalic-webfont.woff) format(woff), url(../fonts/lidostfbolditalic-webfont.ttf) format(truetype), url(../fonts/lidostfbolditalic-webfont.svg#LidoSTFBoldItalic) format(svg); font-weight:bold; font-style:italic; }
@font-face 									{ font-family:LidoSTFCondensed; src:url(../fonts/lidostfcondensed-webfont.eot); }
@font-face 									{ font-family:LidoSTFCondensed; src:url(../fonts/lidostfcondensed-webfont.woff) format(woff), url(../fonts/lidostfcondensed-webfont.ttf) format(truetype), url(../fonts/lidostfcondensed-webfont.svg#LidoSTFCondensedRegular) format(svg); font-weight:normal; font-style:normal; }
@font-face 									{ font-family:LidoSTFCondensed; src:url(../fonts/lidostfcondensedbold-webfont.eot); }
@font-face 									{ font-family:LidoSTFCondensed; src:url(../fonts/lidostfcondensedbold-webfont.woff) format(woff), url(../fonts/lidostfcondensedbold-webfont.ttf) format(truetype), url(../fonts/lidostfcondensedbold-webfont.svg#LidoSTFCondensedBold) format(svg); font-weight:bold; font-style:normal; }
@font-face 									{ font-family:LidoSTFCondensedMedium; src:url(../fonts/lidostfcondensedmedium-webfont.eot); }
@font-face 									{ font-family:LidoSTFCondensedMedium; src:url(../fonts/lidostfcondensedmedium-webfont.woff) format(woff), url(../fonts/lidostfcondensedmedium-webfont.ttf) format(truetype), url(../fonts/lidostfcondensedmedium-webfont.svg#LidoSTFCondensedMediumRegular) format(svg); font-weight:normal; font-style:normal; }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfitalic-webfont.eot); }
@font-face 									{ font-family:LidoSTF; src:url(../fonts/lidostfitalic-webfont.woff) format(woff), url(../fonts/lidostfitalic-webfont.ttf) format(truetype), url(../fonts/lidostfitalic-webfont.svg#LidoSTFItalic) format(svg); font-weight:normal; font-style:italic; }
@font-face 									{ font-family:LidoSTFMedium; src:url(../fonts/lidostfmedium-webfont.eot); }
@font-face 									{ font-family:LidoSTFMedium; src:url(../fonts/lidostfmedium-webfont.woff) format(woff), url(../fonts/lidostfmedium-webfont.ttf) format(truetype), url(../fonts/lidostfmedium-webfont.svg#LidoSTFMediumRegular) format(svg); font-weight:normal; font-style:normal; }
@font-face 									{ font-family:LidoSTFMedium; src:url(../fonts/lidostfmediumitalic-webfont.eot); }
@font-face 									{ font-family:LidoSTFMedium; src:url(../fonts/lidostfmediumitalic-webfont.woff) format(woff), url(../fonts/lidostfmediumitalic-webfont.ttf) format(truetype), url(../fonts/lidostfmediumitalic-webfont.svg#LidoSTFMediumItalic) format(svg); font-weight:normal; font-style:italic; }



/*  Animation
================================================== */
/*
@-webkit-keyframes reset {
0% 											{ opacity: 0; }
100% 										{ opacity: 0; }
}

@-webkit-keyframes body {
0% 											{ opacity: 0; }
60% 										{ opacity: 0; }
100% 										{ opacity: 1; }
}

body										{ -webkit-animation-name: reset, body; -webkit-animation-duration: 1s; -webkit-animation-timing-function: ease-in; -webkit-animation-iteration-count: 1; }
body.one 									{ -webkit-animation-delay: 0, 0; }
body.two 									{ -webkit-animation-delay: 0, 1s; }
body.three  								{ -webkit-animation-delay: 0, 20pxs; }
body.four 									{-webkit-animation-delay: 0, 2s;}
body.five 									{ -webkit-animation-delay: 0, 3s; }
*/



/*  Print Styles
================================================== */
@media print {
* 											{ background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
a, a:visited 								{ text-decoration: underline; }
a[href]:after 								{ content: " (" attr(href) ")"; }
abbr[title]:after 							{ content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
pre, blockquote 							{ border: 1px solid #999; page-break-inside: avoid; }
thead 										{ display: table-header-group; } /* h5bp.com/t */
tr, img 									{ page-break-inside: avoid; }
img 										{ max-width: 100% !important; }
@page 										{ margin: 0.5cm; }
p, h2, h3 									{ orphans: 3; widows: 3; }
h2, h3 										{ page-break-after: avoid; }
}



/*  Pretty Print
================================================== */
pre::selection, code::selection, kbd::selection, samp::selection, pre::-moz-selection, code::-moz-selection, kbd::-moz-selection, samp::-moz-selection{ background: #888; text-shadow: none; }
.prettyprint ol.linenums{margin-top:0;margin-bottom:0}
.prettyprint ol, .prettyprint li {list-style-type:none}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
li.L1,li.L3,li.L5,li.L7,li.L9{background:#303030}
.pln::selection,.str::selection,.kwd::selection,.com::selection,.typ::selection,.lit::selection,.pun::selection,.opn::selection,.clo::selection,.tag::selection,.atn::selection,.atv::selection,.dec::selection,.var::selection,.fun::selection,.pln::-moz-selection,.str::-moz-selection,.kwd::-moz-selection,.com::-moz-selection,.typ::-moz-selection,.lit::-moz-selection,.pun::-moz-selection,.opn::-moz-selection,.clo::-moz-selection,.tag::-moz-selection,.atn::-moz-selection,.atv::-moz-selection,.dec::-moz-selection,.var::-moz-selection,.fun::-moz-selection{color:inherit;background:#888}
.pln{color:#e05c20}
@media screen{.str{color:#0E0}.kwd{color:#e4b24a}.com{color:#80B5D2}.lit{color:#43c8f6}.pun,.opn,.clo{color:#e05c20}.tag{color:#DA46A1}.atv{color:#E4C500}.dec,.var{color:#CD78FB}.fun{color:#FB4E4E}.typ,.atn{color:#94bc58}}
@media print,projection {.kwd{color:#e4b24a;font-weight:700}.com{color:#80B5D2;font-style:italic}.typ{color:#94bc58;font-weight:700}.lit{color:#43c8f6}.pun,.opn,.clo{color:#e05c20}.tag{color:#9b3173;font-weight:700}.atn{color:#94bc58}.str,.atv{color:#E4C500}}



/*  Misc
================================================== */
span.email 									{ unicode-bidi: bidi-override; direction: rtl; }
#iframed 									{ min-height: 650px; overflow: hidden; min-width: 630px; max-width: 700px; }
/* Remove */
.remove.top									{ margin-top: 0; }
.remove.bottom 								{ margin-bottom: 0; }
/* Half */
.half.top 									{ margin-top: 10px; }
.half.bottom 								{ margin-bottom: 10px; }
/* Add */
.add.top		 							{ margin-top: 20px; }
.add.bottom 								{ margin-bottom: 20px; }
.add.top.forty								{ margin-top: 40px; }